body {
  margin: 0;
  background-color: #444444;
}
.header__parent {
  background-color: #282828;
  margin: 0;
  padding: 10px;
}
.header__title {
  margin: 0;
}
.header__title a {
  text-decoration: none;
  color: #ecf319;
  padding: 5px 10px;
}
.header__inner {
  display: flex;
}
.nav__items {
  margin: 0;
  height: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
}
.nav-items__item.post {
  background-color: #e3e377;
  border-radius: 10px;
}
.nav__items li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
li.nav-items__item.post a {
  color: #414141;
  font-weight: bold;
  padding: 5px 10px;
}
.nav__items li a {
  text-decoration: none;
  color: #fcf27f;
}
.auth__parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.auth__parent .header {
  color: #eee;
}

button.primary-button {
  background-color: #1f6feb;
  border: none;
  color: #f0f6fc;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px;
}
.create__head h2 {
  margin: 0;
  color: #f0f6fc;
}
.create__head button {
  border: none;
  background-color: #fcf27f;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
  color: #414141;
}
.create__head {
  margin: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create__view {
  display: flex;
  width: 100%;
}
.create__view textarea {
  resize: none;
  width: 50%;
  font-size: 1.5em;
  height: 80vh;
  overflow-y: scroll;
}
.create__view div {
  overflow-wrap: break-word;
  width: 50%;
  background-color: #c5c5c5;
  height: 80vh;
  overflow-y: scroll;
}
